.students-page h1 {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 0.2rem;
}

.students-page h2 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

.total-count {
  font-weight: 600;
  margin-bottom: 1rem;
}

.students-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: auto;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.students-page .custom-btn {
  max-width: 500px;
  position: absolute;
  bottom: 20px;
}

.students-page .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.students-page .header span {
  position: absolute;
  left: 0%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: #3b3b52;
  text-align: center;

}

.students-page .header span:hover {
  color: #1a1a2e;
  background-color: #dedddd;
}

.students-page .header h1 {
  font-family: "Bowlby One", sans-serif;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
