.custom-btn1 {
  width: 70%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  border: 2px solid black;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.custom-btn1:hover {
  background-color: lightgrey;
}

.icon {
  margin-top: 10px;
  font-size: 220%;
}
